.gallery-img-container {
    width: 350px;
    height: 350px;
    z-index: 0;
}

.gallery-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    z-index: 0;
    position: absolute;
}

.gallery-img-text {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    top: 404px;
    color: black;
    background-color: rgba(251, 202, 17, 0.84);;
    display: none;
}

.gallery-img-container:hover .gallery-img-text {
    display: flex;
}