.transport-reservation {
    width: 295px;
    height: 135px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(251, 202, 17, 0.37) 0%, rgba(216, 160, 16, 0.00) 100%);
    padding: 5px;
}
.transport-reservation b{
    margin-left: 5px;
}